body {
  margin: 0;
  color: #070707;
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  font-family: "Open Sans", Arial, sans-serif;
}
body * {
  box-sizing: border-box;
}
body *::selection {
  background: #D9D0C7;
  /* Safari */
}
body *::-moz-selection {
  background: #D9D0C7;
  /* Firefox */
}

main {
  flex-grow: 1;
}

.visually-hidden {
  position: absolute !important;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0 !important;
  border: 0 !important;
  height: 1px !important;
  width: 1px !important;
  overflow: hidden;
}

.container {
  max-width: 1200px;
  margin: 0 auto;
  padding: 0 120px;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 700;
  margin-top: 0;
}

img {
  width: 100%;
  height: auto;
}

p {
  font-size: 16px;
  margin: 0;
  padding: 8px 0;
}

a {
  font-size: 16px;
  margin: 0;
  padding: 8px 0;
  text-decoration: none;
  color: inherit;
}

.heading {
  padding: 0;
  margin: 0;
  text-transform: uppercase;
  font-weight: 300;
  display: block;
}
.heading--s {
  font-size: 16px;
}
.heading--m {
  font-size: 24px;
}
.heading--l {
  font-size: 32px;
}

.glide {
  overflow: hidden;
  width: 100%;
  box-sizing: border-box;
}

.glide * {
  box-sizing: inherit;
}

.glide__track {
  position: relative;
}
.glide__track--hideleft::before {
  z-index: 2;
  display: block;
  position: absolute;
  top: 0;
  bottom: 0;
  left: -500px;
  right: 100%;
  background: #FFFFFF;
  content: "";
}

.glide__slides {
  position: relative;
  width: 100%;
  list-style: none;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  touch-action: pan-Y;
  padding: 0;
  white-space: nowrap;
  display: flex;
  flex-wrap: nowrap;
  will-change: transform;
}

.glide__slides--dragging {
  user-select: none;
}

.glide__slide {
  width: 100%;
  height: 100%;
  flex-shrink: 0;
  white-space: normal;
  user-select: none;
  -webkit-touch-callout: none;
  -webkit-tap-highlight-color: transparent;
}

.glide__slide a {
  user-select: none;
  -webkit-user-drag: none;
  -moz-user-select: none;
  -ms-user-select: none;
}

.glide__arrows {
  -webkit-touch-callout: none;
  user-select: none;
  position: absolute;
  right: 0;
  bottom: 100%;
  z-index: 5;
  height: 40px;
}

.glide__arrow {
  width: 40px;
  height: 25px;
  background: none;
  border: 0;
  padding: 0;
  margin: 0 0 0 8px;
  color: #3C2E2E;
}
.glide__arrow:hover, .glide__arrow:focus {
  outline: none;
  color: #D9D0C7;
  cursor: pointer;
}
.glide__arrow svg {
  width: 25px;
  height: 25px;
  fill: currentColor;
  transition: all 0.3s linear;
}

.glide__bullets {
  -webkit-touch-callout: none;
  user-select: none;
}

.glide--rtl {
  direction: rtl;
}

.header {
  margin-bottom: 24px;
}

.header__inner {
  display: flex;
  align-items: flex-start;
  padding-top: 16px;
}

.header__content {
  display: flex;
  justify-content: flex-end;
  flex-wrap: wrap;
  margin-left: auto;
}

.header__contacts {
  width: 50%;
}

.header__info {
  margin-left: 24px;
}

.header__text {
  display: block;
  margin: 0;
  padding: 8px 0;
  font-size: 16px;
  color: #070707;
  text-decoration: none;
}
.header__text + .header__text {
  padding-top: 0;
}
.header__text--phone {
  position: relative;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 4px;
  transition: all 0.15s linear;
}
.header__text--phone::before, .header__text--phone::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #070707;
  transition: all 0.15s linear;
}
.header__text--phone::before {
  left: 50%;
  right: 50%;
}
.header__text--phone::after {
  left: 50%;
  right: 50%;
}
.header__text--phone:hover::before {
  left: 0;
  right: 50%;
}
.header__text--phone:hover::after {
  left: 50%;
  right: 0;
}
.header__text--address {
  display: flex;
  align-items: center;
}
.header__text svg {
  margin-right: 8px;
}

.header__menu {
  margin-top: 16px;
  margin-left: auto;
}

@media screen and (max-width: 1199px) {
  .menu {
    display: none;
  }
}

.menu__list {
  display: flex;
  margin: 0;
  padding: 0;
}

.menu__item {
  list-style: none;
  padding-left: 16px;
}

.menu__link {
  color: currentColor;
  text-decoration: none;
  text-transform: uppercase;
  font-size: 16px;
}
.menu__link:not(.menu__link--accent) {
  position: relative;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 4px;
  transition: all 0.15s linear;
}
.menu__link:not(.menu__link--accent)::before, .menu__link:not(.menu__link--accent)::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #070707;
  transition: all 0.15s linear;
}
.menu__link:not(.menu__link--accent)::before {
  left: 50%;
  right: 50%;
}
.menu__link:not(.menu__link--accent)::after {
  left: 50%;
  right: 50%;
}
.menu__link:not(.menu__link--accent):hover::before {
  left: 0;
  right: 50%;
}
.menu__link:not(.menu__link--accent):hover::after {
  left: 50%;
  right: 0;
}
.menu__link--accent {
  padding: 4px;
  border: 1px solid transparent;
  transition: all 0.15s linear;
  background-color: #CEF1FF;
}
.menu__link--accent:hover, .menu__link--accent:focus {
  background-color: #D9D0C7;
  border: 1px solid currentColor;
}

.hamburger {
  position: relative;
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  z-index: 2;
  transition: opacity 0.2s linear;
  background: none;
  border: none;
  display: none;
}
@media screen and (max-width: 1199px) {
  .hamburger {
    display: block;
  }
}

.hamburger:hover,
.hamburger:focus {
  cursor: pointer;
  opacity: 0.7;
}

.hamburger__icon,
.hamburger__icon:after,
.hamburger__icon:before {
  width: 32px;
  height: 3px;
  border-radius: 10px;
}

.hamburger__icon {
  display: block;
  position: relative;
  transform: translateY(5px);
  background-color: #070707;
  transition: all 0ms 300ms;
}
.hamburger__icon--open {
  background-color: rgba(7, 7, 7, 0);
}

.hamburger__icon:before {
  content: "";
  position: absolute;
  left: 0;
  bottom: 9px;
  background-color: #070707;
  transition: bottom 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__icon:after {
  content: "";
  position: absolute;
  left: 0;
  top: 9px;
  background-color: #070707;
  transition: top 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__icon--open:after {
  background-color: #070707;
  top: 0;
  transform: rotate(45deg);
  transition: top 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.hamburger__icon--open:before {
  background-color: #070707;
  bottom: 0;
  transform: rotate(-45deg);
  transition: bottom 300ms cubic-bezier(0.23, 1, 0.32, 1), transform 300ms 300ms cubic-bezier(0.23, 1, 0.32, 1);
}

.intro__wrp {
  overflow-x: hidden;
  padding-top: 24px;
  padding-bottom: 24px;
}

.intro {
  position: relative;
  width: 100%;
  display: flex;
  justify-content: flex-end;
}

.intro__title {
  margin: 0;
  padding: 16px 0 0 0;
  display: flex;
  flex-direction: column;
  text-transform: uppercase;
  font-size: 16px;
}
.intro__title + .intro__title {
  padding-top: 8px;
}

.intro__caption {
  margin: 0;
  font-size: 16px;
  line-height: 22px;
}

.intro__inner {
  position: relative;
  display: flex;
  padding: 0 0 95px 0;
  margin: 0;
}
.intro__inner::before {
  content: "";
  position: absolute;
  bottom: 0;
  right: -500px;
  left: 630px;
  height: 500px;
  background-color: #E8E8E8;
  z-index: -1;
}

.intro__half {
  width: 440px;
  padding-left: 16px;
}
.intro__half--right {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  align-content: flex-end;
  flex-wrap: wrap;
}

.intro__pic {
  overflow: hidden;
}
.intro__pic--main {
  width: 420px;
  height: 450px;
}
.intro__pic--topleft {
  padding-right: 16px;
  width: 220px;
  height: 300px;
}
.intro__pic--topright {
  width: 200px;
  height: 200px;
}
.intro__pic--bottom {
  width: 330px;
  height: 250px;
  padding-top: 16px;
}
.intro__pic img,
.intro__pic video {
  width: 100%;
  height: auto;
  min-height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  -o-object-position: center;
  object-position: center;
}

.brands__wrp {
  padding-top: 24px;
  padding-bottom: 24px;
}

.brands__text {
  max-width: 66%;
}

.brands__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
  margin-left: -16px;
  margin-right: -16px;
}

.brand__item {
  list-style: none;
  margin: 0;
  padding: 0 16px;
  width: 25%;
  height: 112px;
  display: flex;
  align-items: center;
  overflow: hidden;
}
.brand__item:hover img {
  transform: scale(1.05);
}
.brand__item img {
  object-fit: contain;
  object-position: center;
  transition: all 0.3s linear;
}

.advantages__wrp {
  padding-top: 24px;
  padding-bottom: 24px;
}

.advantages__list {
  display: flex;
  justify-content: center;
  padding: 0;
  margin: 0 -16px;
  list-style: none;
}

.advantages__item {
  width: 300px;
  background-color: rgba(217, 208, 199, 0.5);
  margin: 0 16px;
  padding: 32px;
  text-align: center;
}
.advantages__item h3 {
  text-transform: uppercase;
  font-size: 16px;
  margin-bottom: 12px;
  font-weight: 300;
  max-width: 195px;
  margin-left: auto;
  margin-right: auto;
}
.advantages__item p {
  font-size: 16px;
  margin: 0;
}

.advantages__icon svg {
  width: 55px;
  height: 55px;
  margin-bottom: 20px;
}

.offers__wrp {
  padding-top: 24px;
  padding-bottom: 24px;
}

.offers {
  position: relative;
  padding-top: 32px;
  padding-bottom: 32px;
}
.offers::before {
  content: "";
  position: absolute;
  left: -300px;
  right: 340px;
  top: 0;
  bottom: 0;
  background-color: #E8E8E8;
  z-index: -1;
  transition: all 0.3s linear;
}

.offers__wrp {
  overflow-x: hidden;
}

.offers__list {
  width: 100%;
  list-style: none;
  margin: 32px 0 0;
  padding: 0;
}

.offers__item {
  position: relative;
  max-width: 455px;
  min-height: 270px;
  flex-shrink: 0;
  display: flex;
  background-color: #FFFFFF;
  margin: 12px 0 12px;
  transition: all 0.3s linear;
}
.offers__item:nth-child(2n-1) {
  box-shadow: -16px -16px 0 0 #D9D0C7, 4px 4px 10px #F0F0F0;
}
.offers__item:nth-child(2n) {
  box-shadow: 16px 16px 0 0 #D9D0C7, -4px -4px 10px #F0F0F0;
}
.offers__item:hover:nth-child(2n-1) {
  box-shadow: -20px -20px 0 0 #D9D0C7, 4px 4px 10px #F0F0F0;
}
.offers__item:hover:nth-child(2n) {
  box-shadow: 20px 20px 0 0 #D9D0C7, -4px -4px 10px #F0F0F0;
}
.offers__item:hover .offers__img::before {
  background-color: rgba(145, 145, 145, 0);
}
.offers__item:hover img {
  transform: scale(1.05);
}

.offers__img {
  width: 227px;
  height: 305px;
  position: relative;
  overflow: hidden;
}
.offers__img::before {
  content: "";
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  background-color: rgba(145, 145, 145, 0.3);
  transition: all 0.3s linear;
  z-index: 1;
}
.offers__img img {
  height: 100%;
  object-fit: cover;
  object-position: center;
  transition: all 0.3s linear;
}

.offers__text {
  width: 50%;
  padding: 48px 24px 24px;
}

.offers__caption {
  font-family: "Roboto", Arial, sans-serif;
  font-weight: 300;
  font-size: 16px;
  text-transform: uppercase;
  margin: 0 0 16px;
}

.offers__price {
  margin: 0;
}

.offers__description {
  font-size: 16px;
  margin: 0;
  padding: 8px 0;
}

.price__wrp {
  padding-top: 24px;
  padding-bottom: 24px;
}

.price {
  padding-bottom: 24px;
}

.price__heading {
  color: #3C2E2E;
  padding-bottom: 8px;
}
.price__heading span {
  position: relative;
}
.price__heading span::before {
  content: "";
  position: absolute;
  left: -300px;
  right: -8px;
  top: 12px;
  bottom: -4px;
  background-color: #D9D0C7;
  z-index: -1;
}

.price__comment {
  max-width: 600px;
  margin: 0 auto;
  text-align: center;
  font-style: italic;
  padding-bottom: 24px;
}
.price__comment p {
  margin: 0;
  padding: 0;
}

.price__block:not(:last-of-type) {
  padding-bottom: 24px;
}

.price__list {
  padding: 0;
  margin: 0;
}

.price__item {
  list-style: none;
  border-bottom: 1px dotted #3C2E2E;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #3C2E2E;
  transition: all 0.3s linear;
}
.price__item:hover {
  color: #070707;
  border-bottom-color: #070707;
}

.price__service {
  font-size: 16px;
  margin: 8px 0 -8px;
  padding: 2px 2px 2px 0;
  text-transform: lowercase;
  background-color: #FFFFFF;
  color: inherit;
}

.price__amount {
  font-size: 16px;
  margin: 8px 0 -8px;
  padding: 2px 0 2px 4px;
  font-weight: 700;
  background-color: #FFFFFF;
  color: inherit;
}

.address {
  padding-top: 12px;
  padding-bottom: 32px;
  margin-bottom: 32px;
}

.address__heading {
  color: #3C2E2E;
}

.address__inner {
  display: flex;
  justify-content: space-between;
  padding-top: 32px;
  padding-bottom: 32px;
}

.address__decor {
  width: calc(100% - 32px);
  height: 400px;
  transform: translate(-24px, 16px);
  box-shadow: 24px -24px 0 0 #D9D0C7, -4px 4px 10px #F0F0F0;
  overflow: hidden;
}
.address__decor img {
  width: 100%;
  height: auto;
}

.address__content {
  width: calc(33.3333% + 32px);
  flex-shrink: 0;
}

.address__text {
  text-align: right;
  padding-right: 32px;
  padding-bottom: 16px;
}
.address__text p {
  font-size: 20px;
  margin: 0;
  padding: 0;
}
.address__text a {
  font-size: 20px;
  display: inline-block;
  margin: 0;
  padding: 0;
  position: relative;
  padding-bottom: 4px;
  padding-left: 4px;
  padding-right: 4px;
  margin-bottom: 4px;
  transition: all 0.15s linear;
}
.address__text a::before, .address__text a::after {
  content: "";
  position: absolute;
  bottom: 0;
  height: 1px;
  background-color: #070707;
  transition: all 0.15s linear;
}
.address__text a::before {
  left: 50%;
  right: 50%;
}
.address__text a::after {
  left: 50%;
  right: 50%;
}
.address__text a:hover::before {
  left: 0;
  right: 50%;
}
.address__text a:hover::after {
  left: 50%;
  right: 0;
}

.address__map {
  flex-grow: 1;
  position: relative;
  min-height: 500px;
}
.address__map::before {
  content: "";
  position: absolute;
  bottom: -53px;
  right: -500px;
  left: -120px;
  height: 500px;
  background-color: #E8E8E8;
  z-index: -1;
}
.address__map div#map {
  width: 100%;
  height: 100%;
  background-color: #D9D0C7;
}

.gallery__wrp {
  padding-top: 24px;
  padding-bottom: 24px;
}

.gallery {
  padding-bottom: 24px;
}

.gallery__item {
  overflow: hidden;
}
.gallery__item img {
  object-position: center;
  object-fit: cover;
}

.footer {
  margin-top: 24px;
  background-color: #E8E8E8;
}

.footer__menu {
  margin-left: auto;
  padding-top: 24px;
}

.footer__inner {
  display: flex;
}

.footer__block {
  padding: 32px 0 24px;
  width: 50%;
  text-align: center;
}
.footer__block:first-child {
  text-align: left;
  margin-right: auto;
}
.footer__block:last-child {
  text-align: right;
  margin-left: auto;
}

.footer__timetable {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: flex-start;
}

.footer__weekday {
  list-style: none;
}
.footer__weekday + .footer__weekday {
  margin-left: 24px;
}

.footer__title {
  margin-bottom: 16px;
}

.footer__text {
  max-width: 400px;
  margin: 0 0 0 auto;
  padding: 0px 0 8px;
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.footer__social {
  display: flex;
  justify-content: flex-end;
}

.footer__social-link {
  margin-top: 8px;
  margin-left: 16px;
  transition: all 0.15s linear;
  color: #3C2E2E;
}
.footer__social-link:hover, .footer__social-link:focus {
  color: #D9D0C7;
}
.footer__social-link svg {
  fill: currentColor;
}

/*# sourceMappingURL=/main.39afc03c.css.map */